.products h2 {
  color: #000000a8;
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  }
  
  .products ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .products{
    padding: 8px 10%;
  }

  @media(max-width: 1024px){
    .products ul {
      grid-template-columns: auto auto;
    }
  }

  @media(max-width: 768px){
    .products ul {
      grid-template-columns: auto;
    }
  }

  @media(max-width:600px){
    .products h2{
      font-size: 20px;
    }
  }