.header {
    /* max-width: 60rem;
    margin: auto;
    padding: 2rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 10%;
  }

  .headerLogo {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .list {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .list a {
    text-decoration: none;
    color: var(--color-primary-400);
  }
  
  .list a:hover,
  .list a.active {
    color: var(--color-primary-800);
    /* text-decoration: underline; */
  }

  /* li>a.active {
    color: red;
  } */
  